.explorer {
    padding: 40px 3%;
    @include flex-center;
    flex-direction: column;
    background-color: $colour-grey2;

    &__title {
        width: 275px;
        margin: 0;
        font-family: $font-roboto;
        text-align: center;
        font-size: 24px;
    }

    & p {
        font-size: 18px;
        text-align: center;
        font-family: $font-roboto;
        font-style: normal;
    }



}