.blockMenu {
    padding-bottom: 15px;
    width: 100%;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);

    article.cardsMenu {
        height: 50px;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        background: #FFFFFF;
        box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.1);
        padding: 12px 15px;
        cursor: pointer;

        &:hover .check {
            transform: translateX(-100%);
            animation: delay 0.3s ease-in-out;
        }

        &:hover .prixMenu {
            transition: transform 0.3s ease-in-out;
            transform: translateX(-25px);
            right: 30px;
        }

        .check {
            color: #FFFFFF;
            font-size: 20px;
        }
    }

    .textMenu {
        display: flex;
        justify-content: space-between;

        .prixMenu {
            right: 16px;
            position: absolute;
            top: 40px;
            font-weight: bold;
            font-size: 14px;
            transition: transform 0.3s ease-in-out;
        }

        .overflow {
            height: 50px;
            width: 315px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        h4 {
            margin: 0;
            font-size: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

        }

        p {
            margin-bottom: 0;
            margin-top: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    :hover.textMenu {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 65%;
    }

}

.check {
    background-color: #99e2d0;
    @include flex-center;
    position: absolute;
    left: 100%;
    width: 50px;
    height: 75px;
    border-radius: 0 15px 15px 0;
    top: 0px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}